# data science
numpy
pandas
numba

# formatting
black

# notebooks
jupyterlab
ipywidgets

# huggingface
transformers
datasets
evaluate
accelerate

# ml framework
torch

# audio
soundfile # read/write sound files
librosa # music and audio analysis