# data science
numpy
pandas
numba

# formatting and linting
ruff

# notebooks
jupyterlab
ipywidgets

# huggingface
transformers
datasets
evaluate
accelerate

# ml framework
torch

# audio
soundfile # read/write sound files
librosa # music and audio analysis
audiocraft # facebook model
pydub # manipulate audio

# other
python-dotenv
requests

# server
fastapi
uvicorn[standard]

# APIs
replicate